:root {
    --primary-color: #a2ccdd;
    --secondary-color: #024e76;
    --tertiary-color: #202324;
    --fourth-color: #f3f3f3;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    border: 1px solid var(--tertiary-color);
    padding: 25px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1{

}
.header-title{
    border: 1px solid var(--tertiary-color);
}
.header-links{
    border: 1px solid var(--tertiary-color);
}
header nav {
    margin: 8px 0;
}
.header-links ul{
    border: 1px solid var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
.header-links ul li{
    border: 1px solid var(--tertiary-color);
    /* display:inline; */
    padding: 0px 8px;

}
main{
    border: 1px solid var(--tertiary-color);
    display:flex;
    min-height: 300px;
    width: 100%;
    padding: 25px 35px;
}
@media screen and (max-width: 980px) {
    header {
      
    }
  }

@media screen and (max-width: 768px) {
    header {
      
    }
  }  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    header {
      
    }
  }